.header {
    background-color:rgba(0, 0, 0, 0.9) !important;
}

.navbar-left h2,
.navbar-right ion-icon,
.navbar-left ion-icon {
    color: white !important;
}

.product-page-footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    top: 10;
    left: 0;
    right: 0;
    background-color: white;
    border: 0.1rem solid brown;
}

.product-page-footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.product-page-footer div button {
    font-size: 2.5rem;
    padding: 1rem 4rem;
    border-radius: 4rem;
    background-color: white;
    border: 0.1rem solid white;
}

.product-page-footer div button:hover {
    border: 0.1rem solid darkgreen;
}

.products-header {
    font-size: 4rem;
    margin-top: 10rem;
    text-align: center;
    border-bottom: 0.1rem solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products-header h2 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.product-box {
    border: 0.2rem solid lightgrey;
    margin: 0rem 3rem 0rem 3rem;
    margin-bottom: 2rem;
    width: 25rem;
}

.product-box:hover {
    border: 0.2rem solid darkgreen;
}

.product-box .image {
    height: 20rem;
    overflow: hidden;
    padding: 1rem;
}

.product-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-description h4 {
    margin-top: 5rem;
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.product-description p {
    /* margin-left: 1.5rem; */
    font-size: 2.5rem;
    /* margin-bottom: 1rem; */
    font-weight: 600;
    color: brown;
}

.all-products,
.fishing-products,
.camping-products,
.hiking-products,
.backyard-products,
.food-products {
    height: 120vh;
}

.info-and-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.more-info {
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    background-color: brown;
    color: white;
}

.add-to-cart {
    padding: 0.5rem 1rem;
    /* margin-left: 0.5rem; */
    background-color: brown;
    color: white;
    border-radius: 0.5rem;
}

.add-to-cart:hover {
    background-color: white;
    color: black;
}

/* .more-info:hover,
.add-to-cart:hover {
    background-color: #CC4C4C;
} */
.item-count {
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    width: 2000px;
    max-width: 80%;
    
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 110;
}

.test {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.cart-row {
    border: 0.1px solid white;
    margin-bottom: 1rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item-title {
    padding: 1rem 2rem 0rem 2rem;
}

.cart-quantity {
    margin-top: 1rem;
}

.checkout-menu {
    border: 0.1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 3rem;
    width: 4rem;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.cart-total-price {
    color: white;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.cart-total {
    display: flex;
}

.btn-primary {
    background-color: #CC4C4C;
    color: white;
    padding: 0.5rem 5rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.price-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

@media (max-width: 2000px) {
    .all-products {
        height: 250vh;
    }
}

@media (max-width: 1500px) {
    .fishing-products,
    .camping-products,
    .hiking-products,
    .backyard-products,
    .food-products {
        height: 150vh;
    }

    .all-products {
        height: 300vh;
    }
}

@media (max-width: 991px) {
    .all-products {
        height: 350vh;
    }

    .modal-img {
        display: none;
    }

    .modal {
        top: 30%;
    }

    .product-page-footer div button {
        padding: 1rem 3rem;
    }
}

@media (max-width: 450px) {
    .product-page-footer div button {
        padding: 1rem 2.5rem;
        font-size: 1.5rem;
    }

    .product-page-footer div {
        flex-wrap: wrap;
    }

    .fishing-products,
    .camping-products,
    .hiking-products,
    .backyard-products,
    .food-products {
        height: 200vh;
    }

    .all-products {
        height: 600vh;
    }

    .modal .item-name {
        font-size: 3rem;
    }

    .modal .description {
        font-size: 1.5rem;
    }

    .box-right h3 {
        padding: 0rem 2rem 1rem 0rem;
    }
}

@media (max-width: 400px) {
    .modal {
        top: 25%;
        
    }

    .item-overlook {
        padding: 0rem;
    }
    
    .navbar-left h2 {
        font-size: 2rem !important;
        font-weight: 300 !important;
    }
}

@media (max-width: 350px) {
    .item-count {
        margin-right: 0.5rem;
    }
}