* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

section {
    padding: 4rem 10%;
}

.main {
    height: 100vh;
    background: url('/outdoor-expeditions/assets/images/main-background.jpg');
    background-size: cover;
    background-position: center;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, 0.2);
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-left ion-icon {
    font-size: 4.5rem;
    color: brown;
    margin-right: 1rem;
}

.navbar-left ion-icon:hover,
.navbar-right ion-icon:hover,
.navbar-left h2:hover {
    color: white;
}

.navbar-right ion-icon:hover {
    cursor: pointer;
}

.navbar-left h2 {
    font-size: 4.5rem;
    color: brown;
    font-style: italic;
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right ion-icon {
    font-size: 4.5rem;
    color: brown;
    margin-right: 2rem;
}

.home-div {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4rem;
    border-radius: 4rem;
}

.home-div h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.home-div h2 span {
    text-decoration: underline;
}

.home-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-button-div button {
    font-size: 2rem;
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    background-color: brown;
    color: white;
    margin: 0rem 2rem 0rem 2rem;
}

.home-button-div button:hover {
    cursor: pointer;
    background-color: rgb(214, 57, 57);
}

.clearance-heading {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.clearance-heading h2 {
    font-size: 4.5rem;
}

.clearance-heading ion-icon {
    font-size: 3.5rem;
    margin-left: 1rem;
}

.clearance-container,
.trending-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.clearance-box,
.trending-box {
    border: 0.2rem solid lightgrey;
    margin: 0rem 1rem 0rem 1rem;
    margin-bottom: 2rem;
    width: 25rem;
}

.clearance-box:hover,
.trending-box:hover {
    border: 0.2rem solid black;
}

.clearance-box .image,
.trending-box .image {
    height: 20rem;
    overflow: hidden;
    padding: 1rem;
}

.clearance-box .image img,
.trending-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green-canoe {
    object-fit: contain !important;
}

.clearance-description h4,
.trending-description h4 {
    margin-top: 5rem;
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.clearance-description p,
.trending-description p {
    margin-left: 1.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: red;
    font-weight: 600;
}

.clearance-description p span {
    color: rgb(187, 187, 187);
    font-size: 1.5rem;
    font-weight: 500;
}
.clearance-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.view-all {
    padding: 1.5rem 3rem;
    margin-top: 4rem;
    background-color: brown;
    color: white;
    font-size: 2rem;
    transform: skew(-14deg);
}

.view-all:hover {
    cursor: pointer;
    background-color: rgb(214, 57, 57);
}

.trending {
    padding: 4rem 10%;
    background-color: rgb(241, 241, 241);
}

.trending-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
}

.trending-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.trending-heading h2 {
    font-size: 4rem;
    margin-top: 10rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.trending-heading p {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: 10rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.trending-description p {
    color: black;
}

.black-background {
    background-color: black;
    color: white;
}

.footer {
    background-color: black;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-top p {
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
}

.footer-top p:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.footer-bottom h2 {
    color: white;
    font-size: 3rem;
    margin-left: 1rem ;
}

.footer-bottom ion-icon {
    font-size: 3.5rem;
    color: white;
}

@media (max-width: 1200px) {
    .trending {
        padding: 2rem 4%;
    }

    .clearance-box,
    .trending-box {
        width: 20rem;
    }

    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 45%;
    }

    .home-div {
        padding: 5rem;
        text-align: center;
    }


}

@media (max-width: 450px) {
    .navbar-left h2 {
        font-size: 3rem;
    }

    .navbar-left ion-icon {
        font-size: 6rem;
    }
}

@media (max-width: 390px) {
    .home-button-div {
        flex-direction: column;
    }
    
    .home-button-div button {
        margin-bottom: 2rem;
    }

    .home {
        padding: 2rem 4%;
    }
}

@media (max-width: 350px) {
    .home-div {
        padding: 3rem;
    }

    .home-div h2 {
        font-size: 3.5rem;
    }

    .clearance-heading h2 {
        font-size: 3.5rem;
    }
}